/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Rubik:wght@300;400;500;600&display=swap');

/* Reseting css */
*{
  border: none;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  list-style-type: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
}


/*
=============== 
Variables
===============
*/
:root{
  /* colours */
  --clr-1:#44624a;
  --clr-2:#8ba888;
  --clr-3:#c0cfb2;
  --clr-4:#f1ebe1;
  --clr-5:#FFFFFF;
  /* box */
  --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  --border: .2rem solid rgba(0,0,0,.1);
  --outline: .1rem solid rgba(0,0,0,.1);
  --outline-hover: .2rem solid #130f40;
  --transition: 0.3s ease;
}

/*
=============== 
Global
===============
*/

html{
  font-size: 70%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body{
  background: #eee;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  border-radius: .5rem;
  border: .2rem solid var(--clr-1);
  color: var(--clr-1);
  font-size: 1.5rem;
  cursor: pointer;
}
.btn:hover{
  background: var(--clr-1);
  color: var(--clr-4);
  transition: var(--transition);
}
/*
=============== 
Header
===============
*/

.header{
  align-items: center;
  background: var(--clr-4);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  padding: 1rem 6%;
  position: sticky;
  top: 0; left: 0; right: 0;
  transition: all 2s ease;
  z-index: 10;
}

.header .logo{
  font-family: 'Bungee Shade', cursive;
  font-size: 3rem;
  font-weight: bolder;
  color: var(--clr-1);
}
.header .logo:hover{
  color: var(--clr-2);
}

.header .logo i{
  color: var(--clr-1);
  font-size: 3rem;
}

.header .navbar a{
  color: #44624a;
  font-size: 1.8rem;
  margin: 0 1rem;
}
.header .navbar a:hover{
  color: var(--clr-2);
  transition: var(--transition);
}

.header .icons div{
  background-color: var(--clr-4);
  border: 0.2rem solid var(--clr-1);
  border-radius: 1rem;
  color: var(--clr-1);
  font-size: 2.5rem;
  height: 4rem;
  line-height: 4rem;
  margin-right: .3rem;
  text-align: center;
  width: 4rem;
}

.header .icons div:hover{
  background-color: var(--clr-1);
  color: var(--clr-4);
  transition: var(--transition);
}

#menu-btn{
  display: none;
}

/* search */

.header .search-form{
  position: absolute;
  top: 110%; right: -110%;
  width: 50rem;
  height: 4.5rem;
  background: var(--clr-4);
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.header .search-form.active{
  right:  2rem;
  transition: var(--transition);
}
.header .search-form input{
  height: 100%;
  width: 100%;
  background: var(--clr-4);
  text-transform: none;
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

.header .search-form label{
  font-size: 2.8rem;
  padding-right: 2rem;
  color: black;
}

.header .search-form label:hover{
  color: var(--clr-2);
  cursor: pointer;
}

/* cart */

.header .cart{
  position: absolute;
  top: 	110%; right: -110%;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  background: var(--clr-4);
  transition: var(--transition);
}

.header .cart.active{
  right: 2rem;
  transition: var(--transition);
}
.header .cart .box{
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}

.header .cart .box img{
  height: 10rem;
}

.header .cart .box .bx-trash{
  font-size: 2rem;
  position: absolute;
  top: 50%; right: -110%;
  cursor: pointer;
  color: var(--clr-1);
  transform: translateY(-50%);
}

.header .cart .box .bx-trash:hover{
  color: var(--clr-2);
}

.header .cart .box .content h3{
  color: black;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.header .cart .box .content .price{
  color: #3f413f;
  font-size: 1.5rem;
}
.header .cart .box .content .quantity{
  color: #3f413f;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.header .cart .total{
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: black;
}

.header .cart .btn{
  display: block;
  text-align: center;
  margin: 1rem;
}