/* Reseting css */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
}

/*
=============== 
Fonts
===============
*/


/*
=============== 
Variables
===============
*/
:root{
    /* primary */
    --clr-prim-1:#49592a;
    --clr-prim-2:#576b33;
    --clr-prim-3:#6e8641;
    --clr-prim-4:#86945e;
    --clr-prim-5:#c3d4a5;
    --clr-prim-6:#cdd0c0;
    /* secondary */
    --clr-sec-1:#674403;

    /* transition */
    --transition: 0.25s linear
}

/*
=============== 
Global
===============
*/

/*
=============== 
Navbar
===============
*/
/*
=============== 
Navbar
===============
*/
.nav-links {
    display: none;
  }
  .nav {
    background-color: var(--clr-sec-1);
    height: 3rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    border-bottom: 0.25rem solid var(--clr-prim-3);
  }
  .nav-center {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
  .nav-header {
    display: flex;
    align-items: center;
  }
  .nav-btn {
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    font-size: 2rem;
    cursor: pointer;
    justify-self: end;
  }
  .nav-logo{
    width: 10rem;
    border-radius: 1rem;
    transition: 0.3s;
  }

  .nav-logo:hover{
    background-color: #8d5d04;
}
.nav a:hover{
    background-color: #8d5d04;
  }

  @media screen and (min-width:830px) {
      .nav{
          background: var(--clr-sec-1);
      }
      .nav-btn{
          display: none;
      }
      .nav-links{
          display: grid;
          grid-template-columns: repeat(5, auto);
          justify-items: center;
          column-gap: 2rem;
          justify-self: end;
      }
      .nav-links a{
         text-transform: capitalize;
         color: #ebebeb;
         font-weight: bold;
         letter-spacing: var(--spacing);
         transition: var(--transition);
      }
      .nav-links a:hover{
          color: var(--clr-prim-5);
      }
      .nav-center{
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
      }
  }
.navbar-fixed{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}


/* ---------Temp----------- */

.mid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 5rem;
    color: #49592a;
}

.mid h1{
    justify-content: center;
}
